main{
    font-family: "Overpass Mono";
    font-size: 26px;
    min-width: 600px;
    max-width: 800px;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    min-height: 440px;
    text-align: left;
    user-select: none;
    color: white;
}
body{
    background-color: black;
    text-align: center;
}
.power{
    color: #ffe040;
}
.outta-power{
    color: #ffec8d;
}
.bracket{
    color: #959595;
    font-size: 18px;
}
.button{
    background-color: #ff8040;
    padding: 9px;
    display: inline-block;
    height: 49px;
    border-radius: 20px;
    transition: 50ms;
    user-select: none;
}
.button span{
    font-size:40px;
    font-family: "Overpass Mono";
    font-weight: bold;
    position: relative;
    top: -5px;

}
.button img{
    height: 40px;
    padding-right: 7.5px;
}
.button:hover{
    border: 2px solid white;
    color: white;
    background-color: black;
}
.button:hover img{
    filter: invert(1);
}
div{
    transition: 300ms;
}
.input-box{
    display: inline-block;
    border-radius: 9px;
    border: 2.5px solid white;
}
.input-box input{
    width: 500px;
    border: none;
    padding: 9px;
    border-radius: 9px;
    font-size: 35px;
    background-color: transparent;
    color: white;
    font-family: "Overpass Mono";
    padding-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    text-align: center;
    outline: none;
}